<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>BizFlow Rules WebService</display-name>

    <context-param> 
        <description>Location to store uploaded file</description> 
        <param-name>file-upload-data</param-name> 
        <param-value>
            WEB-INF/classes/
         </param-value> 
    </context-param>
    <context-param> 
        <description>Location to store uploaded file temporaily</description> 
        <param-name>file-upload-temp</param-name> 
        <param-value>
            WEB-INF/temp/
         </param-value> 
    </context-param>
    <context-param> 
        <param-name>file-upload-max-filesize</param-name> 
        <param-value>5000</param-value> 
    </context-param>
    <context-param> 
        <param-name>file-upload-max-memsize</param-name> 
        <param-value>500</param-value> 
    </context-param>

    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.bizflow.ps.drools.webservice</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>biflowrule-serlvet</servlet-name>
        <servlet-class>com.bizflow.ps.drools.framework.WSRuleLoader</servlet-class>
        <init-param>
            <param-name>rule.property.filename</param-name>
            <param-value>bizflowrule.properties</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>biflowrule-serlvet</servlet-name>
        <url-pattern>/bizflowruleloader</url-pattern>
    </servlet-mapping>

</web-app>